#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

&led_strip {
    chain-length = <35>;
};

&left_encoder {
    resolution = <2>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp ESC    &kp N1  &mt F2 NUMBER_2  &kp N3  &mt F4 NUMBER_4  &kp N5                           &kp N6     &kp N7  &kp N8        &kp N9   &kp N0    &kp DEL
&kp TAB    &kp Q   &kp W            &kp E   &kp R            &kp T                            &kp Y      &kp U   &kp I         &kp O    &kp P     &kp BSLH
&kp LALT   &kp A   &kp S            &kp D   &kp F            &kp G                            &kp H      &kp J   &kp K         &kp L    &kp SEMI  &kp SQT
&kp EQUAL  &kp Z   &kp X            &kp C   &kp V            &kp B      &trans       &trans   &kp N      &kp M   &kp COMMA     &kp DOT  &kp FSLH  &kp MINUS
                   &trans           &trans  &kp BSPC         &kp SPACE  &kp LCTRL    &kp RET  &kp LSHFT  &trans  &kp LEFT_GUI  &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;

        };
    };
};
